<?xml version="1.0"?>
<model>
  <name>nesting_room_mesh</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>
  <author>
    <name>vblock_capture</name>
  </author>
  <description>nesting_room 墙体几何的网格复刻：visual=map.obj(Z-up 世界坐标)，collision=map.stl(同几何，因 Gazebo 11 OBJ 碰撞形状不生成接触、STL 有效)。4 外墙+4 内墙+4 门楣+4 角柱，门洞 1.2x2.25m，墙厚 0.15m，墙高 3.0m。</description>
</model>
