<?xml version="1.0" encoding="utf-8"?>
<!-- Parameterized copy of car3.urdf (identical geometry/plugins) for multi-car
     use: prefix isolates frame names, ns isolates gazebo plugin namespaces.
     Defaults reproduce the original single-car URDF exactly. -->
<robot name="car3" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="ns" default="/"/>
  <xacro:arg name="red_marker" default="false"/>
  <xacro:property name="pfx" value="$(arg prefix)"/>
  <xacro:property name="robot_ns" value="$(arg ns)"/>

  <link name="${pfx}base_footprint">
    <inertial>
      <mass value="0.0001" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-8" ixy="0" ixz="0" iyy="1e-8" iyz="0" izz="1e-8" />
    </inertial>
  </link>
  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0.0195" rpy="0 0 0"/>
    <parent link="${pfx}base_footprint"/>
    <child link="${pfx}base_link"/>
  </joint>

  <link name="${pfx}base_link">
    <inertial>
      <origin xyz="0 0 0.045754" rpy="0 0 0" />
      <mass value="20.0" />
      <inertia ixx="0.049" ixy="0" ixz="0"
              iyy="0.093" iyz="0" izz="0.132" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car3_control/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.004" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car3_control/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="${pfx}wheel_lf_link">
    <inertial>
      <origin xyz="-1.89908340719747E-08 0.000410767817247734 1.68294290437548E-07" rpy="0 0 0" />
      <mass value="0.264871256629718" />
      <inertia ixx="0.000179136265161608" ixy="-1.16635218934619E-10" ixz="2.49095764117674E-09"
               iyy="0.00028610783207543" iyz="5.55125098397999E-10" izz="0.000179141811615638" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car3_control/meshes/wheel_lf_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.203921568627451 0.203921568627451 0.203921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.0489" length="0.052"/>
      </geometry>
    </collision>
  </link>
  <joint name="wheel_lf_joint" type="continuous">
    <origin xyz="0.097300000000001 0.105834744636228 0.0195000000000009" rpy="0 0 0" />
    <parent link="${pfx}base_link" />
    <child link="${pfx}wheel_lf_link" />
    <axis xyz="0 1 0" />
    <limit effort="100" velocity="20" />
  </joint>
  <transmission name="wheel_lf_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_lf_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_lf_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <link name="${pfx}wheel_rf_link">
    <inertial>
      <origin xyz="9.53599250952397E-08 -0.000410552612112175 1.05547444343573E-07" rpy="0 0 0" />
      <mass value="0.264863880724167" />
      <inertia ixx="0.000179131489740564" ixy="1.70903147462926E-10" ixz="-1.05773399892696E-10"
               iyy="0.000286092794967385" iyz="-1.00634997449499E-09" izz="0.000179132223160385" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car3_control/meshes/wheel_rf_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.203921568627451 0.203921568627451 0.203921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.0489" length="0.052"/>
      </geometry>
    </collision>
  </link>
  <joint name="wheel_rf_joint" type="continuous">
    <origin xyz="0.0972999999999991 -0.10583478501704 0.0194999999999991" rpy="0 0 0" />
    <parent link="${pfx}base_link" />
    <child link="${pfx}wheel_rf_link" />
    <axis xyz="0 1 0" />
    <limit effort="100" velocity="20" />
  </joint>
  <transmission name="wheel_rf_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_rf_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_rf_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <link name="${pfx}wheel_lb_link">
    <inertial>
      <origin xyz="-1.89908340719747E-08 0.000410767817247734 1.68294290437548E-07" rpy="0 0 0" />
      <mass value="0.264871256629718" />
      <inertia ixx="0.000179136265161608" ixy="-1.16635218934619E-10" ixz="2.49095764117674E-09"
               iyy="0.00028610783207543" iyz="5.55125098397999E-10" izz="0.000179141811615638" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car3_control/meshes/wheel_lb_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.203921568627451 0.203921568627451 0.203921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.0489" length="0.052"/>
      </geometry>
    </collision>
  </link>
  <joint name="wheel_lb_joint" type="continuous">
    <origin xyz="-0.0972999999999995 0.105834785017033 0.0194999999999999" rpy="0 0 0" />
    <parent link="${pfx}base_link" />
    <child link="${pfx}wheel_lb_link" />
    <axis xyz="0 1 0" />
    <limit effort="100" velocity="20" />
  </joint>
  <transmission name="wheel_lb_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_lb_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_lb_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <link name="${pfx}wheel_rb_link">
    <inertial>
      <origin xyz="9.53599250952397E-08 -0.000410552612112175 1.05547444343573E-07" rpy="0 0 0" />
      <mass value="0.264863880724167" />
      <inertia ixx="0.000179131489740564" ixy="1.70903147462926E-10" ixz="-1.05773399892696E-10"
               iyy="0.000286092794967385" iyz="-1.00634997449499E-09" izz="0.000179132223160385" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car3_control/meshes/wheel_rb_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.203921568627451 0.203921568627451 0.203921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.0489" length="0.052"/>
      </geometry>
    </collision>
  </link>
  <joint name="wheel_rb_joint" type="continuous">
    <origin xyz="-0.0973000000000007 -0.105834744636236 0.0194999999999996" rpy="0 0 0" />
    <parent link="${pfx}base_link" />
    <child link="${pfx}wheel_rb_link" />
    <axis xyz="0 1 0" />
    <limit effort="100" velocity="20" />
  </joint>
  <transmission name="wheel_rb_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_rb_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_rb_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <link name="${pfx}laser_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0001" />
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car3_control/meshes/laser_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.180392156862745 0.192156862745098 0.211764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car3_control/meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="laser_joint" type="fixed">
    <origin xyz="0 0 0.27" rpy="0 0 0" />
    <parent link="${pfx}base_link" />
    <child link="${pfx}laser_link" />
  </joint>

  <link name="${pfx}imu_link">
    <inertial>
      <origin xyz="0.00651838157011059 0.00161000000000038 -0.000800000000000051" rpy="0 0 0" />
      <mass value="0.0075738626562715" />
      <inertia ixx="1.96574687139367E-06" ixy="-2.46206074435489E-20" ixz="3.44361447264871E-20"
               iyy="4.542849987458E-06" iyz="8.21911473280896E-23" izz="6.50536534411833E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car3_control/meshes/imu_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car3_control/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="imu_joint" type="fixed">
    <origin xyz="-0.07125 -0.00161 0.0611" rpy="0 0 0" />
    <parent link="${pfx}base_link" />
    <child link="${pfx}imu_link" />
  </joint>

  <link name="${pfx}laser_mount_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="0.0002652" ixy="0" ixz="0" iyy="0.0002652" iyz="0" izz="0.00002" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.02" length="0.175" />
      </geometry>
      <material name="">
        <color rgba="0.203921568627451 0.203921568627451 0.203921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.02" length="0.175" />
      </geometry>
    </collision>
  </link>
  <joint name="laser_mount_joint" type="fixed">
    <origin xyz="0 0 0.1475" rpy="0 0 0" />
    <parent link="${pfx}base_link" />
    <child link="${pfx}laser_mount_link" />
  </joint>

  <gazebo reference="${pfx}laser_mount_link">
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="${pfx}wheel_lf_link">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <kp>1e7</kp>
    <kd>1e4</kd>
    <minDepth>0.000001</minDepth>
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="${pfx}wheel_rf_link">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <kp>1e7</kp>
    <kd>1e4</kd>
    <minDepth>0.000001</minDepth>
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="${pfx}wheel_lb_link">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <kp>1e7</kp>
    <kd>1e4</kd>
    <minDepth>0.000001</minDepth>
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="${pfx}wheel_rb_link">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <kp>1e7</kp>
    <kd>1e4</kd>
    <minDepth>0.000001</minDepth>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>${robot_ns}</robotNamespace>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="car3_mecanum_grip" filename="libcar3_mecanum_grip_plugin.so">
      <wheel_radius>0.0489</wheel_radius>
      <grip_force_max>52.0</grip_force_max>
      <grip_gain>1500.0</grip_gain>
      <link_prefix>${pfx}</link_prefix>
    </plugin>
  </gazebo>

  <gazebo reference="${pfx}laser_link">
    <material>Gazebo/Black</material>
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>15</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>1440</samples>
            <resolution>1</resolution>
            <min_angle>-3.14159265</min_angle>
            <max_angle>3.14159265</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.02</min>
          <max>20.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>scan</topicName>
        <frameName>${pfx}laser_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="${pfx}imu_link">
    <material>Gazebo/Orange</material>
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>${pfx}imu_link</bodyName>
        <updateRateHZ>100.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>${pfx}imu_link</frameName>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <!-- 入侵标识：红色物块（仅视觉，无碰撞）。尺寸/位置与 intruder_car_capture
       的 car3_red 一致：0.08 立方体，base_link z 0.13（贯穿雷达-车身柱、贴合车身、
       不挡雷达，顶 0.17 < 雷达底 0.2356）。默认关闭，开启后不参与任何物理/导航。 -->
  <xacro:if value="$(arg red_marker)">
    <link name="${pfx}intruder_marker">
      <inertial>
        <mass value="0.0001" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-8" ixy="0" ixz="0" iyy="1e-8" iyz="0" izz="1e-8" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.08 0.08 0.08" />
        </geometry>
        <material name="intruder_red">
          <color rgba="1 0 0 1" />
        </material>
      </visual>
    </link>
    <joint name="${pfx}intruder_marker_joint" type="fixed">
      <origin xyz="0 0 0.13" rpy="0 0 0" />
      <parent link="${pfx}base_link" />
      <child link="${pfx}intruder_marker" />
    </joint>
    <gazebo reference="${pfx}intruder_marker">
      <material>Gazebo/Red</material>
      <visual>
        <material>
          <ambient>1 0 0 1</ambient>
          <diffuse>1 0 0 1</diffuse>
          <specular>0.5 0 0 1</specular>
          <emissive>0.4 0 0 1</emissive>
        </material>
      </visual>
    </gazebo>
  </xacro:if>
</robot>
