<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="world" default="$(find basic_room_sim)/worlds/nesting_room.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="start_gazebo" default="true"/>
    <arg name="spawn_cars" default="true"/>
    <arg name="start_car_nav" default="true"/>
    <arg name="start_ego" default="false"/>
    <arg name="use_ego_virtual_boundary" default="true"/>
    <arg name="ego_boundary_z_max" default="3.0"/>
    <arg name="ego_boundary_spacing" default="0.3"/>
    <arg name="start_uav_rviz_state" default="true"/>
    <!-- iris_1 is spawned in the south-east corner. Point its nose toward
         the room center so the first Livox scans contain room structure. -->
    <arg name="iris1_yaw" default="2.3561944902"/>
    <arg name="car0_x" default="2.3"/>
    <arg name="car0_y" default="2.4"/>
    <arg name="car0_yaw" default="-2.334"/>
    <arg name="car1_x" default="-2.3"/>
    <arg name="car1_y" default="-2.4"/>
    <arg name="car1_yaw" default="0.808"/>
    <arg name="car2_x" default="-6.5"/>
    <arg name="car2_y" default="6.6"/>
    <arg name="car2_yaw" default="0.0"/>
    <arg name="car2_max_vel_trans" default="3.00"/>
    <arg name="car3_x" default="6.5"/>
    <arg name="car3_y" default="-6.5"/>
    <arg name="car3_yaw" default="3.14159"/>
    <arg name="car3_max_vel_trans" default="1.50"/>
    <env name="GAZEBO_MODEL_PATH" value="$(find basic_room_sim)/models:$(find mavlink_sitl_gazebo)/models:$(find livox_laser_simulation)/models:$(optenv GAZEBO_MODEL_PATH)"/>
    <env name="GAZEBO_PLUGIN_PATH" value="$(find px4)/build/px4_sitl_default/build_gazebo:$(optenv GAZEBO_PLUGIN_PATH)"/>
    <!-- Gazebo sim -->
    <include if="$(arg start_gazebo)" file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="false"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>
    <!-- Start the GUI after all staggered model spawns, then fetch one complete scene. -->
    <node if="$(arg gui)" name="gazebo_gui" pkg="gazebo_ros" type="gzclient" output="screen"
          launch-prefix="bash -c 'sleep 23; exec $0 $@' "/>
    <!-- Publish UAV world poses for the shared RViz map frame. -->
    <node if="$(arg start_uav_rviz_state)" pkg="car3_swarm" type="uav_rviz_state.py"
          name="uav_rviz_state" output="screen"/>
    <!-- car0/car1 defenders and car2/car3 intruders in one Gazebo instance. -->
    <!-- Optional planners reuse the already-spawned cars and aircraft. -->
    <include if="$(arg start_car_nav)" file="$(find car3_swarm)/launch/multi_car3_nav.launch">
        <arg name="start_bringup" value="false"/>
        <arg name="car0_x" value="$(arg car0_x)"/>
        <arg name="car0_y" value="$(arg car0_y)"/>
        <arg name="car0_yaw" value="$(arg car0_yaw)"/>
        <arg name="car1_x" value="$(arg car1_x)"/>
        <arg name="car1_y" value="$(arg car1_y)"/>
        <arg name="car1_yaw" value="$(arg car1_yaw)"/>
        <arg name="car2_x" value="$(arg car2_x)"/>
        <arg name="car2_y" value="$(arg car2_y)"/>
        <arg name="car2_yaw" value="$(arg car2_yaw)"/>
        <arg name="car2_max_vel_trans" value="$(arg car2_max_vel_trans)"/>
        <arg name="car3_x" value="$(arg car3_x)"/>
        <arg name="car3_y" value="$(arg car3_y)"/>
        <arg name="car3_yaw" value="$(arg car3_yaw)"/>
        <arg name="car3_max_vel_trans" value="$(arg car3_max_vel_trans)"/>
        <arg name="gui" value="false"/>
    </include>
    <group if="$(arg start_ego)">
        <!-- Feed four static room-boundary walls into both EGO occupancy maps. -->
        <node if="$(arg use_ego_virtual_boundary)" pkg="car3_swarm"
              type="ego_virtual_boundary.py" name="ego_virtual_boundary" output="screen">
            <rosparam param="uavs">[iris_0, iris_1]</rosparam>
            <param name="center_x" value="-0.11576"/>
            <param name="center_y" value="-0.00882"/>
            <param name="side" value="6.0"/>
            <param name="z_min" value="0.0"/>
            <param name="z_max" value="$(arg ego_boundary_z_max)"/>
            <param name="spacing" value="$(arg ego_boundary_spacing)"/>
            <param name="monitor_rate" value="2.0"/>
            <param name="stable_samples" value="3"/>
            <param name="stable_tolerance" value="0.05"/>
            <param name="frame_id" value="world"/>
        </node>
    </group>
    <include if="$(arg start_ego)" file="$(find ego_planner)/launch/multi_uav.launch"/>
    <group if="$(arg spawn_cars)">
        <include file="$(find car3_swarm)/launch/car_spawn.launch">
            <arg name="car" value="car0"/>
            <arg name="x" value="$(arg car0_x)"/>
            <arg name="y" value="$(arg car0_y)"/>
            <arg name="yaw" value="$(arg car0_yaw)"/>
            <arg name="spawn_delay" value="3"/>
        </include>
        <include file="$(find car3_swarm)/launch/car_spawn.launch">
            <arg name="car" value="car1"/>
            <arg name="x" value="$(arg car1_x)"/>
            <arg name="y" value="$(arg car1_y)"/>
            <arg name="yaw" value="$(arg car1_yaw)"/>
            <arg name="spawn_delay" value="6"/>
        </include>
        <include file="$(find car3_swarm)/launch/car_spawn.launch">
            <arg name="car" value="car2"/>
            <arg name="x" value="$(arg car2_x)"/>
            <arg name="y" value="$(arg car2_y)"/>
            <arg name="yaw" value="$(arg car2_yaw)"/>
            <arg name="spawn_delay" value="9"/>
        </include>
        <include file="$(find car3_swarm)/launch/car_spawn.launch">
            <arg name="car" value="car3"/>
            <arg name="x" value="$(arg car3_x)"/>
            <arg name="y" value="$(arg car3_y)"/>
            <arg name="yaw" value="$(arg car3_yaw)"/>
            <arg name="spawn_delay" value="12"/>
        </include>
    </group>
     <!-- iris_0 -->
     <group ns="iris_0">
        <!-- MAVROS and vehicle configs -->
            <arg name="ID" value="0"/>
            <arg name="ID_in_group" value="0"/>
            <arg name="fcu_url" default="udp://:14540@localhost:14580"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn_xtd.launch">
            <arg name="x" value="-2.3"/>
            <arg name="y" value="2.3"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="iris"/>
            <arg name="px4_model" value="iris_vision"/>
            <arg name="sdf" value="iris_mid360_0"/>
            <arg name="mavlink_udp_port" value="18570"/>
            <arg name="mavlink_tcp_port" value="4560"/>
            <arg name="spawn_delay" value="15"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="ID_in_group" value="$(arg ID_in_group)"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>
     <!-- iris_1 -->
     <group ns="iris_1">
        <!-- MAVROS and vehicle configs -->
            <arg name="ID" value="1"/>
            <arg name="ID_in_group" value="1"/>
            <arg name="fcu_url" default="udp://:14541@localhost:14581"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn_xtd.launch">
            <arg name="x" value="2.3"/>
            <arg name="y" value="-2.3"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="$(arg iris1_yaw)"/>
            <arg name="vehicle" value="iris"/>
            <arg name="px4_model" value="iris_vision"/>
            <arg name="sdf" value="iris_mid360_1"/>
            <arg name="mavlink_udp_port" value="18571"/>
            <arg name="mavlink_tcp_port" value="4561"/>
            <arg name="spawn_delay" value="19"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="ID_in_group" value="$(arg ID_in_group)"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>
</launch>
<!--the launch file is generated by XTDrone multi-vehicle generator.py  -->
